---
import { contracts } from "../../../contracts";
import Layout from "../../../layouts/Layout.astro";
import MenuBackground from "../../../assets/images/menu_background.jpg";
import mobileHeader from "../../../assets/images/contract_menu_background_mobile.jpg";
import PageBackgroundImage from "../../../components/PageBackgroundImage.astro";
import BmwLogo from "../../../components/SVG/BmwLogo.astro";
import Footer from "../../../components/Footer.astro";
import BurgerMenuButton from "../../../components/MenuButton";
import MenuButton from "../../../components/pages/Menu/MenuButton.astro";
import PageHeader from "../../../components/PageHeader.astro";


export const getStaticPaths = () => {
    return contracts.map(c => ({ params: { contract: c.path }}))
}

const { contract: contractPath } = Astro.params;

const contract = contracts.find((c) => c.path === contractPath)!;
---

<Layout title={`MINI Financial Services / contrat ${contract.name}`}>
    <PageBackgroundImage imageSrc={MenuBackground}>
        <div class="w-full h-full overflow-hidden bg-white sm:flex sm:flex-col sm:bg-transparent">
            <div class="w-full h-full items-center flex flex-col flex-grow sm:px-12 sm:pb-6 overflow-auto">
                <div class="w-full sm:hidden">
                    <PageHeader
                        mobileOnly
                        mobileImageSrc={mobileHeader}
                        contract={contract}
                        currentUrl={`/contrat/${contract.path}`}
                    />
                </div>
                <header class="hidden sm:flex w-full pt-8 pb-4 flex-row justify-between items-center border-b border-white">
                    <a href="/">
                        <h1 class="text-white text-2xl font-bold text-shadow-xl">MINI FINANCIAL SERVICES</h1>
                    </a>
                    <div class="flex flex-row items-center">
                        <BurgerMenuButton contract={contract} currentUrl={`/contrat/${contract.path}`} client:load />
                        <BmwLogo class="w-22 md:w-28 ml-8 h-auto" />
                    </div>
                </header>
                
                <h2 class="text-black sm:text-white text-3xl  uppercase text-center pb-6 sm:pb-0 border-b sm:border-b-0 border-b-black my-6 mx-6 sm:mx-0 sm:px-6">
                    vos informations pratiques sur votre <span class="font-bold">{contract.cosyName}</span>
                </h2>
                <div class="w-full max-w-5xl flex-grow grid grid-cols-2 lg:grid-cols-4 gap-4 px-6 sm:px-0">
                    { contract.pages.map((p) => (
                        <MenuButton href={`/contrat/${contract.path}${p.url}`}>
                            <p.menuIcon slot="icon" class="w-14 h-auto" />
                            <span slot="text">
                                { p.name }
                            </span>
                        </MenuButton>
                    ))}
                </div>
                <div class="sm:hidden w-full mt-6">
                    <Footer />
                </div>
            </div>
            <div class="hidden sm:block w-full">
                <Footer />
            </div>
        </div>
    </PageBackgroundImage>
</Layout>