---
import type { Props } from "astro";
import { PAGE_LA_FIN_DE_VOTRE_CONTRAT } from "../../../contracts";
import Page from "../../../layouts/Page.astro";
import headerBackground from "../../../assets/images/fin_de_contrat_background.jpg";
import headerBackgroundMobile from "../../../assets/images/fin_de_contrat_background_mobile.jpg";
import PageHeader from "../../../components/PageHeader.astro";
import AdvantagesList from "../../../components/pages/EndOfContract/AdvantagesList";
import type { ContractInfo } from "../../../typings";
import Calendar from "../../../components/Calendar.astro";
import { resolveStaticPathsForPage } from "../../../utils";
import Section from "../../../components/Section.astro";
import SectionTitle from "../../../components/SectionTitle.astro";
import Paragraph from "../../../components/Paragraph.astro";
import { Picture } from "@astrojs/image/components";
import finContratLLDImg from "../../../assets/images/fin_contrat_lld.jpg";

export const getStaticPaths = () => resolveStaticPathsForPage(PAGE_LA_FIN_DE_VOTRE_CONTRAT);

interface AvantagesProps extends Props {
    contract: ContractInfo
}

const { contract } = Astro.props as AvantagesProps;

---

<Page title="La fin de votre contrat" contract={contract} page={PAGE_LA_FIN_DE_VOTRE_CONTRAT}>
    <PageHeader
        slot="header"
        contract={contract}
        currentUrl={`/contrat/${contract.path}/la-fin-de-votre-contrat`}
        imageSrc={headerBackground}
        mobileImageSrc={headerBackgroundMobile}
        imageAlt="La fin de votre contrat"
        title={contract.cosyName}
        subTitle="La fin de votre contrat"
        menuUrl={`/contrat/${contract.path}`}
    >
        <Calendar slot="icon" class="w-8 h-auto" />
    </PageHeader>
    { (contract.name === "LOA" || contract.name === "PassLease LOA") && (
        <div class="bg-white lg:px-14">
        <p class=" mb-8">
            <span class="font-bold">Vous souhaitez devenir propriétaire de votre MINI ? L'option d'achat sera prélevée sur votre compte bancaire le dernier jour de votre contrat.</span>
            <br>
            Suivez les étapes ci-dessous :
        </p>
        <AdvantagesList client:visible />
        </div>
    )}
    { (contract.name === "LLD" || contract.name === "PassLease LLD") && (
        <Section noBorder>
            <div class="flex flex-col md:flex-row items-stretch space-y-8 md:space-x-8 md:space-y-0">
                <div class="flex-1 flex flex-col">
                    <Paragraph last>
                        Dans les 9 derniers mois de votre contrat, nous vous tiendrons informé des démarches à suivre pour restituer votre véhicule.
                        <br><br>
                        Votre concessionnaire reste votre interlocuteur privilégié afin de préparer et d’organiser la restitution de votre MINI.
                        <br><br>
                        Lors de la restitution, il sera nécessaire de vous munir de votre certificat d’immatriculation (carte grise), de la clé principale ainsi que du double de clé, de la notice d’utilisation, du carnet d’entretien et de garantie mis à jour (pour certains modèles, ces documents sont intégrés à l’ordinateur de bord), et du DVD de navigation du GPS si votre véhicule en est équipé.
                        <br><br>
                        Veillez à ce que votre véhicule soit nettoyé à l’intérieur et à l’extérieur.
                        <br><br>
                        Le véhicule restitué devra être à jour des opérations de maintenance.
                    </Paragraph>
                </div>
                <Picture
                    src={finContratLLDImg}
                    fill="cover"
                    alt="fin de contrat LLD"
                    sizes="(min-width: 768px) 33vw, 100vw"
                    widths={[220, 340, 675]}
                    aspectRatio="675:451"
                />
            </div>
        </Section>
    )}
</Page>