---
import PageHeader from "../../../components/PageHeader.astro";
import Page from "../../../layouts/Page.astro";
import garantiesBackground from "../../../assets/images/garanties_background.jpg";
import garantiesBackgroundMobile from "../../../assets/images/garanties_background_mobile.jpg";

import type { Props } from "astro";
import { PAGE_VOTRE_GARANTIE } from "../../../contracts";
import type { ContractInfo } from "../../../typings";
import Umbrella from "../../../components/SVG/Umbrella.astro";

import Section from "../../../components/Section.astro";
import SectionTitle from "../../../components/SectionTitle.astro";
import Paragraph from "../../../components/Paragraph.astro";
import manWomanSmiling from "../../../assets/images/man_woman_smiling.png";
import { Picture } from "@astrojs/image/components";
import { resolveStaticPathsForPage } from "../../../utils";

export const getStaticPaths = () => resolveStaticPathsForPage(PAGE_VOTRE_GARANTIE)


interface AvantagesProps extends Props {
    contract: ContractInfo
}

const { contract } = Astro.props as AvantagesProps;

---

<Page title="Votre garantie" contract={contract} page={PAGE_VOTRE_GARANTIE}>
    <PageHeader
        slot="header"
        contract={contract}
        currentUrl={`/contrat/${contract.path}/votre-garantie`}
        imageSrc={garantiesBackground}
        mobileImageSrc={garantiesBackgroundMobile}
        imageAlt="Votre garantie"
        imagePosition="top"
        title={contract.cosyName}
        subTitle="Votre garantie"
        menuUrl={`/contrat/${contract.path}`}
    >
        <Umbrella slot="icon" class="w-8 h-auto" />
    </PageHeader>
    <Section noBorder>
        <div class="flex flex-col md:flex-row items-stretch space-y-8 md:space-x-20 md:space-y-0">
            <div class="flex-1 flex flex-col">
                <SectionTitle>{"La perte financière"}</SectionTitle>
                <Paragraph>
                    Pendant la durée de votre financement, en cas de vol ou de destruction totale de votre
                    véhicule, la Perte Financière (PF) complète l'indemnisation de l'assureur principal
                    jusqu'au solde de votre contrat.
                </Paragraph>
                <div class="w-full flex items-center">
                    <a href={`https://www.mini.fr/content/dam/MINI/marketDSM_FR/mini_fr/fr_FR/financial-services_pdfs/PLV_MINI_PF_LLD_2024.pdf.asset.1725447687039.pdf`} class="py-3 px-8 w-auto border-2 border-black text-black text-lg font-semibold inline-flex flex-row items-center space-x-4  hover:text-white hover:bg-black transition-all rounded-full">
                        <span class="whitespace-nowrap uppercase">En savoir plus</span>
                    </a>
                </div>
                <Paragraph last>
                    <p class="text-xs font-medium mt-5 2xl:mt-auto max-w-2xl">
                        L'ensemble des produits d'assurance et prestations d'assistance sont fournis par les assureurs et assisteur(s) dont les informations sont détaillées sur <a class="underline" href={"https://www.mini.fr/fr_FR/home/financial-services/insurance.html"}>Les Assurances MINI | MINI.FR</a>
                    </p>
                </Paragraph>
            </div>
            <Picture
                src={manWomanSmiling}
                alt="homme et femme souriants dans leur voiture"
                sizes="(min-width: 768px) 35vw, 100vw"
                widths={[400, 500, 1378]}
                aspectRatio="1378:802"
            />
        </div>
    </Section>
</Page>