---
import { Picture } from "@astrojs/image/components";
import clsx from "clsx";
import type { ContractInfo } from "../typings";
import MenuButton from "./MenuButton";
import BmwLogo from "./SVG/BmwLogo.astro";

type PageHeaderProps = {
    mobileOnly?: boolean,
    noMenuButton?: boolean,
    contract: ContractInfo,
    currentUrl: string,
    imageSrc: ImageMetadata,
    mobileImageSrc: ImageMetadata,
    imageAlt: string,
    imagePosition: string,
    title: string,
    subTitle: string,
    menuUrl: string
}

const { mobileOnly = false, noMenuButton = false, contract, currentUrl, imageSrc, mobileImageSrc, imageAlt = "", imagePosition = "center", title, subTitle, menuUrl } = Astro.props as PageHeaderProps;
---

<header
    class={
        clsx(
            { "h-72 sm:hidden": mobileOnly },
            "relative bg-mini-blue w-full sm:h-64",
        )
    }
    >
    { !mobileOnly && <Picture
        src={imageSrc}
        position={imagePosition}
        class="hidden sm:block absolute inset-0 w-full h-64 object-cover object-top z-0"
        alt={imageAlt}
        width="100vw"
        widths={[800, 1280, 1920]}
        sizes="100vw"
        formats={["jpeg"]}
    /> }
    <Picture
        src={mobileImageSrc}
        position={imagePosition}
        class="sm:hidden absolute inset-0 w-full h-72 object-cover object-top z-0"
        alt={imageAlt}
        width="100vw"
        widths={[300, 400, 600]}
        sizes="100vw"
        formats={["jpeg"]}
    />
    <div class="bg-gradient-to-t sm:bg-gradient-to-bl from-transparent via-black/30 to-black absolute inset-0 h-64 z-10"></div>
    <a href="/">
        <h1 class="hidden sm:block absolute top-10 left-6 sm:left-12 text-white text-2xl font-bold text-shadow-xl z-20">MINI FINANCIAL SERVICES</h1>
    </a>
    <div class="absolute top-8 left-6 sm:left-auto right-6 sm:right-12 flex flex-row justify-between sm:justify-start md:items-center space-x-2 md:space-x-4 lg:space-x-8 z-50">
        { !noMenuButton && <MenuButton contract={contract} currentUrl={currentUrl} client:load /> }
        { !noMenuButton && <div />}
        <BmwLogo class="w-24 sm:w-24 md:w-28 h-auto" />
    </div>
    { !mobileOnly && <div class="relative bg-black sm:bg-transparent px-6 sm:px-0 py-6 sm:py-0 mt-72 sm:mt-0 sm:absolute sm:bottom-8 sm:left-6 md:left-12 sm:right-12 flex flex-row items-center space-x-5 text-mini-blue sm:text-white z-20">
        <slot name="icon" />
        <div class="flex-1 flex flex-col leading-tight uppercase font-bold">
            <h2 class="text-2xl text-mini-blue sm:text-white font-medium">{ title }</h2>
            <h3 class="text-4xl font-bold text-white sm:text-inherit mb-0-">{ subTitle }</h3>
        </div>
    </div> }
</header>